<center>
<h1>Indexing all bands</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>User</th>
	</tr>
<% @bands.each do |b| %>
	<tr>
		<td><%= link_to( b.name, b) %></td>
		<td><%= b.description %></td>
		<!-- This crap belongs in a method -->
		<% @band_users.each do |bu| %>
			<% if bu.band_id == b.id %>
				<td><%= link_to( User.find_by_id(bu.user_id).name, User.find_by_id(bu.user_id )) %></td>
			<% end %>
		<% end %>
	</tr>
<% end %>
</table>
</center>
