<center>
	<h1><%= @band.name %>'s page</h1>
	<p><%= @band.description %></p>

	<p><%= @band.name %> has the following members:</p>
	<% @band_users.each do |bu| %>
		<% if bu.band_id == @band.id %>
			<%= link_to( User.find_by_id(bu.user_id).name, User.find_by_id(bu.user_id) )%><br/>
		<%end%>
	<%end%>
</center>
