<center>
<h1>Welcome to the world of tomorrow!</h1>

<%= link_to("Show me all bands", :controller => "band", :action => "index" ) %>
<br/>
<%= link_to("Show me all users", :controller => "user", :action => "index" ) %>
</center>
