<center>
	<h1><%= @user.name %>'s Page</h1>
	<p><%= @user.description %></p>

	<p><%= @user.name %> plays in the following bands:</p>
	<% @band_users.each do |bu| %>
		<% if bu.user_id == @user.id %>
			<%= link_to( Band.find_by_id(bu.band_id).name, Band.find_by_id(bu.band_id) )%><br/>
		<%end%>
	<%end%>
</center>
