<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <li><a href="#">News</a></li>
  <li><a href="#">Bands</a></li>
  <li><%= link_to "Users", 'users/index' %></a></li>
  <form class="navbar-search pull-left">
    <input type="text" class="search-query" placeholder="Search">
  </form>
  <% if user_signed_in? %>
    <li><a href="/users/sign_out">Log out</a></li>
  <% else %>
    <li><a href="/users/sign_in">Log in</a></li>
  <% end %>
</ul>
